<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Welcome</title>
	</head>
	
	<body>
		#foreach( $title in $titles)
			<a href="">$title</a><br>
		#end
	</body>

</html>